div{
  font-family: Inconsolata;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: black;
  transition: color 0.15s;
}
a:hover{
  color: rgb(105, 179, 231); 
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  column-gap: 100px;
}

.col {
  display: flex;
  flex-direction: column;
  transition: color 0.15s;
  font-size: 24px;
  align-items: left;
}
.menu {
  display: flex;
  align-items: left;
  flex-direction: column;
}

button {
  border: none;
  background-color: white; 
  color: rgb(105, 179, 231); 
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  font-size: 24px;
}

.votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

h3 {
  margin-bottom: 10px;
  margin-top: 40px;
}

.food-type {
  font-weight: bold;
  margin-top: 10px;
}
