.back-button-container {
  text-align: center;
  margin: 20px 0;
}

table {
  /*width = 100%*/
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px; 
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

.sell-button-container {
  text-align: center;
  margin: 20px 0;
}

.sell-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.sell-button:hover {
  background-color: #45a049;
}

.seller-form{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

.seller-form label{
  display:block;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.terms-of-service{
  font-family: "Poppins";
  max-width: 800px;
  margin: auto;
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  background-color: #d2d2d2;
}

table {
  margin: 0 auto;
}

.buy-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buy-button:hover {
  background-color: #45a049;
}

.tables-container {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-between;
  /*gap: 20px; optional spacing between tables */
}