.back-button-container {
  text-align: center;
  margin: 20px 0;
}

table {
  /*width = 100%*/
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px; 
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

.sell-button-container {
  text-align: center;
  margin: 20px 0;
}

.sell-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.sell-button:hover {
  background-color: #45a049;
}

.seller-form{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

.seller-form label{
  display:block;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.terms-of-service{
  font-family: "Poppins";
  max-width: 800px;
  margin: auto;
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  background-color: #d2d2d2;
}

table {
  margin: 0 auto;
}

.buy-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buy-button:hover {
  background-color: #45a049;
}

.tables-container {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-between;
  /*gap: 20px; optional spacing between tables */
}

.contact-seller,.contact-buyer {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.contact-seller:hover, .contact-buyer:hover {
  background-color: #45a049;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
