<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- PNG favicons for modern browsers -->
    <link rel="icon" type="image/png" sizes="32x32" href="../static/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/logo.png">
  
    <!-- Apple touch icon (for iOS home-screen bookmarks) -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/logo.png">
    <title>Lion Dine</title>
    <link rel="stylesheet" href="..\static\header.css">
    <link rel="stylesheet" href="..\static\general.css">
    <link rel="stylesheet" href="../static/swipemarket.css">
    <link rel="stylesheet" href="../static/ripple.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D26R1LF247"></script>
  
  <!--<script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload" data-client_id="362313378422-s5g6ki5lkph6vaeoad93lfirrtugvnfl.apps.googleusercontent.com" data-callback="handleCredentialResponse">-->
  </div>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-D26R1LF247');
  </script>
  <body>
    <main>
      {% set hall_links = {
        "John Jay": "https://dining.columbia.edu/content/john-jay-dining-hall",
        "Ferris": "https://dining.columbia.edu/content/ferris-booth-commons-0",
        "Grace Dodge": "https://dining.columbia.edu/content/grace-dodge-dining-hall-0",
        "JJ's": "https://dining.columbia.edu/content/jjs-place-0",
        "Chef Mike's": "https://dining.columbia.edu/chef-mikes",
        "Chef Don's": "https://dining.columbia.edu/content/chef-dons-pizza-pi",
        "Faculty House": "https://dining.columbia.edu/content/faculty-house-0",
        "Fac Shack": "https://dining.columbia.edu/content/fac-shack-0",
        "Hewitt Dining": "https://dineoncampus.com/barnard/whats-on-the-menu",
        "Diana": "https://dineoncampus.com/barnard/whats-on-the-menu",
        "Johnny's": "https://dining.columbia.edu/johnnys"
      } %}
      {% set hall_order = [
        "Ferris", 
        "JJ's",  
        "Faculty House", 
        "Grace Dodge", 
        "Johnny's",
        "Fac Shack", 
        "John Jay",
        "Hewitt Dining",
        "Chef Mike's",
        "Diana",
        "Chef Don's"
      ] %}
      <p id="output"></p>
      <div class="top">
        <div class="top-left" id="ripple-text">
          Buy, sell, and donate meal swipes: <a href="https://swipemarketcu.com" target="_blank" style="text-decoration: underline; font-weight: bold;">swipemarketcu.com</a>
        </div>
        <div class="top-right">
          <div id="current-time"></div>
          <a href="https://forms.gle/PFbWKbaXN1EeYEcu6" target="blank">
          <div class="feedback">Feedback</div>
          </a>
        </div>
      </div>
      
      <header class="header" id="index-header">
          <a href="/">Lion Dine &#129409;</a> 
      </header>
      <div class="var" id="halls"></div>
      <div class="meals-container">
        <a href="/breakfast" class="meal-button {% if meal == 'breakfast' %}active{% endif %}">Breakfast</a>
        <a href="/lunch" class="meal-button {% if meal == 'lunch' %}active{% endif %}">Lunch</a>
        <a href="/dinner" class="meal-button {% if meal == 'dinner' %}active{% endif %}">Dinner</a> 
        <a href="/latenight" class="meal-button {% if meal == 'latenight' %}active{% endif %}">Late Night</a>           
      </div>
      <!--
      <div class="prefs-alls">
        <i class="fa-regular fa-square"></i>
        <div class="pa-menu">Preferences</div>
        <i class="fa-regular fa-square"></i>
        <div class="pa-menu">Allergens</div>
      </div>
      -->
      <div class="barrier"></div>
      <div class="container">
        {% for hall_name in hall_order %}
          {% set hall_info = halls.get(hall_name, {"status": "Unknown", "hours": "Hours not available", "stations": "No data available"}) %}
        <div class="col">
          <a href="{{ hall_links.get(hall_name,'https://dining.columbia.edu/') }}" target="_blank">
            {% if hall_name == "Hewitt Dining" %}
              <h3>Hewitt</h3>
            {% else %}
              <h3>{{ hall_name }}</h3>
            {% endif %}
          </a>
          <div class="timing">
            <div class="hours">{{ hall_info.hours }}</div>
            {% if hall_info.hours == "Closed today" %}
              <div class="status"></div>
            {% elif hall_info.status == "Closed" %}
             <div class="status">{{ hall_info.status }}</div>
            {% endif %}
          </div>
          {% if hall_info.status.startswith("Closed") %}
            <div class="menu"></div>
          {% elif hall_info.stations is mapping and hall_info.stations %}
            <div class="menu">
              {% for station_name, items in hall_info.stations.items() %}
                <div class="food-type">{{ station_name }}</div>
                {% for item in items %}
                  <div class="food-name">{{ item }}</div>
                {% endfor %}
              {% endfor %}
            </div>
          {% else %}
          <div class="menu">
            No data available.
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="footer"><p></p></div>
    </main>
    <script src="../static/ripple.js" type="text/javascript"></script>
    <script src="../static/functions.js" type="text/javascript"></script>
  </body>
</html>
