<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Swipe Market</title>
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/swipemarket.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D26R1LF247"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="362313378422-s5g6ki5lkph6vaeoad93lfirrtugvnfl.apps.googleusercontent.com">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-D26R1LF247');
    </script>
    <style>
    </style>
  </head>
  <body>
    <main>
      <p id="output"></p>
      <div class="top">
        <div class="top-left">
          <a href="/">&lt; Lion Dine</a>
        </div>
        <div class="top-right">
          <div id="current-time"></div>
          <a href="https://forms.gle/7M3JpiJ9RoapZmxF6" target="blank">
            <div class="feedback">Feedback</div>
          </a>
        </div>
      </div>
      <header class="header" id="index-header">
        Swipe Market	&#128722; 
      </header>
      <div class="sell-button-container">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="/sellers">
          <button type="button" class="sell-button">Post Listing</button>
        </a>
      </div>
      <div class="tables-container">
      <table>
        <caption>Seller Listings</caption>
        <thead>
          <tr>
            <th>Dining hall(s)</th>
            <th>Time</th>
            <th>Price</th>
            <th>Payment methods</th>
            <th>Contact seller</th>
          </tr>
        </thead>
        <tbody>
          {% for listing in seller_listings %}
          <tr>
            <td>{{ listing.dining_hall }}</td>
            <td>{{ listing.start_time }} - {{ listing.end_time }}</td>
            <td>{{ listing.price }}</td>
            <td>{{ listing.payment_methods }}</td>
            <td><button class="contact-seller" data-listing-id="{{ listing.id }}" onclick="openForm(this)">Contact</button></td></td>
          </tr>
          {% else %}
          <tr>
            <td colspan="5">No listings available at the moment.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table>
        <caption>Buyer Listings</caption>
        <thead>
          <tr>
            <th>Dining hall(s)</th>
            <th>Time</th>
            <th>Price</th>
            <th>Payment methods</th>
            <th>Contact buyer</th>
          </tr>
        </thead>
        <tbody>
          {% for listing in buyer_listings %}
          <tr>
            <td>{{ listing.dining_hall }}</td>
            <td>{{ listing.start_time }} - {{ listing.end_time }}</td>
            <td>{{ listing.price }}</td>
            <td>{{ listing.payment_methods }}</td>
            <td><button class="contact-buyer" data-listing-id="{{ listing.id }}" onclick="openForm(this)">Contact</button></td>
            <!--
            <td><div class="contact-buyer" data-other-name="{{ listing.name }}" data-other-email="{{ listing.email }}">Contact</div>
            -->
          </tr>
          {% else %}
          <tr>
            <td colspan="5">No listings available at the moment.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="form-popup" id="myForm">
      <form action="/send_connection_email" method="POST" class="form-container">
        <input type="hidden" name="listing_id" value="">
        <label for="sender_name"><b>Name</b></label>
        <input type="text" placeholder="Your Name" name="sender_name" required> <br>
        <label for="sender_email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="sender_email" required>
        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
    <div class="success-messages">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    
    <div class="footer"><p></p></div>
    </main>
    <script src="../static/functions.js" type="text/javascript"></script>
  </body>
</html>
